In [1]:
from datetime import datetime, timedelta
import pandas as pd
import numpy  as np
import matplotlib.pyplot as plt
import random
%matplotlib inline

# 初期値

In [2]:
DAYS = 4000 # 生成日数
FROM_YEAR = 2010 #初期の年
FROM_MONTH = 3 #初期の月
EFFECTIVE_RATE = 0.3 # 有効率：取得する日数の割合
FIRST_STOCKS = 1000 # 在庫数の初期値

# データベースの作成

In [3]:
# 日付のリスト生成()
date_list = [datetime(FROM_YEAR, FROM_MONTH, 1) + timedelta(days=i) for i in range(DAYS)]
db = pd.DataFrame({"date": date_list})

# 入庫と出荷を追加
db["warehousing"] = [random.randint(0,20) for i in range(len(db))]
db["shipping"] = [random.randint(0,20) for i in range(len(db))]

# ランダムに日にちを絞り，並び替える
effective_list = random.sample([i for i in range(len(db))], int(EFFECTIVE_RATE * len(db))) 
db = db.iloc[effective_list, :]

db

           date  warehousing  shipping
3439 2019-07-31           14        14
2825 2017-11-24           10         2
3367 2019-05-20           10         0
2132 2016-01-01            5         6
1465 2014-03-05           10        19
...         ...          ...       ...
1184 2013-05-28           20         6
3733 2020-05-20            1        11
1183 2013-05-27            5         2
835  2012-06-13           10         0
1224 2013-07-07            2         7

[1200 rows x 3 columns]

# ロジックありの場合

In [4]:
# 年月の範囲を修得する
db_sort = db.sort_values("date")
first_year = db_sort.iloc[0].date.year
first_month = db_sort.iloc[0].date.month
last_year = db_sort.iloc[-1].date.year
last_month = db_sort.iloc[-1].date.month
print(first_year, first_month, last_year, last_month)

# 範囲のリストを生成する．
year_list = list(range(first_year, last_year + 1))
month_list = list(range(1, 13)) * len(year_list)
month_list = month_list[first_month-1: -(12-last_month)]
year_list_all = []
if len(year_list) >= 2:
    year_list_all += [year_list[0]] * (12 - first_month + 1)
    for i in range(len(year_list) - 2):
        year_list_all += [year_list[i+1]] * 12
    year_list_all += [year_list[-1]] * last_month
elif len(year_list) == 1:
    year_list_all += [year_list[0]] * len(month_list)

year_month_list = []
for year, month in zip(year_list_all, month_list):
    year_month_list.append(str(year) + "-" + str(month))

print(year_list, month_list, len(month_list))
print(year_list_all, len(year_list_all))
print(year_month_list)

2010 3 2021 2
[2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021] [3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 1, 2] 132
[2010, 2010, 2010, 2010, 2010, 2010, 2010, 2010, 2010, 2010, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2012, 2012, 2012, 2012, 2012, 2012, 2012, 2012, 2012, 2012, 2012, 2012, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2021, 2021] 132
['2010-3', '2010-4', '2010-5', '2010-6', '2010-7', '2010-8', '2010-9', '2010-10', '2010-11', '2010-12', '2011-1', '2011-2', '2011-3', '2011-4', '2011-5', '2011-6', '2011-7', '2011-8', '2011-9', '2011-10', '2011-11', '2011-12', '2012-1', '2012-2', '2012-3', '2012-4', '2012-5', '2012-6', '2012-7', '2012-8', '2012-9', '2012-10', '2012-11', '2012-12', '2013-1', '2013-2', '2013-3', '2013-4', '2013-5', '2013-6', '2013-7', '2013-8', '2013-9', '2013-10', '2013-11', '2013-12', '2014-1', '2014-2', '2014-3', '2014-4', '2014-5', '2014-6', '2014-7', '2014-8', '2014-9', '2014-10', '2014-11', '2014-12', '2015-1', '2015-2', '2015-3', '2015-4', '2015-5', '2015-6', '2015-7', '2015-8', '2015-9', '2015-10', '2015-11', '2015-12', '2016-1', '2016-2', '2016-3', '2016-4', '2016-5', '2016-6', '2016-7', '2016-8', '2016-9', '2016-10', '2016-11', '2016-12', '2017-1', '2017-2', '2017-3', '2017-4', '2017-5', '2017-6', '2017-7', '2017-8', '2017-9', '2017-10', '2017-11', '2017-12', '2018-1', '2018-2', '2018-3', '2018-4', '2018-5', '2018-6', '2018-7', '2018-8', '2018-9', '2018-10', '2018-11', '2018-12', '2019-1', '2019-2', '2019-3', '2019-4', '2019-5', '2019-6', '2019-7', '2019-8', '2019-9', '2019-10', '2019-11', '2019-12', '2020-1', '2020-2', '2020-3', '2020-4', '2020-5', '2020-6', '2020-7', '2020-8', '2020-9', '2020-10', '2020-11', '2020-12', '2021-1', '2021-2']

In [5]:
# 識別器
def identification(date):
    # stock_type：0=last_stocks, 1=ten_stocks, 2=twenty_stocks
    if date.day >= 1 and date.day <= 10:
        stock_type = 0
    elif date.day >= 11 and date.day <= 20:
        stock_type = 1
    else:
        stock_type = 2
    # year_month
    year_month = str(date.year) + "-" + str(date.month)
    return stock_type, year_month

last_stocks_dict = dict.fromkeys(year_month_list, 0)
ten_stocks_dict = dict.fromkeys(year_month_list, 0)
twenty_stocks_dict = dict.fromkeys(year_month_list, 0)
stocks_on_the_day_dict = dict.fromkeys(year_month_list, 0)
for a, b in db.iterrows():
    date = b.date.date()
    warehousing = b.warehousing
    shipping = b.shipping
    # 識別器
    stock_type, year_month = identification(date)
    # 加算
    stocks_on_the_day_dict[year_month] += warehousing
    if stock_type == 0:
        last_stocks_dict[year_month] += warehousing - shipping
    elif stock_type == 1:
        ten_stocks_dict[year_month] += warehousing - shipping
    elif stock_type == 2:
        twenty_stocks_dict[year_month] += warehousing - shipping

print("　前月末残：{}\n当月10日残：{}\n当月20日残：{}\n　当月入庫：{}".format(last_stocks_dict, ten_stocks_dict, twenty_stocks_dict, stocks_on_the_day_dict))

　前月末残：{'2010-3': -26, '2010-4': -15, '2010-5': -8, '2010-6': 29, '2010-7': 29, '2010-8': -23, '2010-9': 13, '2010-10': -33, '2010-11': -4, '2010-12': 6, '2011-1': -6, '2011-2': -19, '2011-3': -4, '2011-4': -17, '2011-5': -27, '2011-6': -20, '2011-7': 1, '2011-8': -8, '2011-9': 35, '2011-10': -13, '2011-11': -9, '2011-12': -9, '2012-1': 16, '2012-2': -11, '2012-3': 0, '2012-4': 0, '2012-5': -27, '2012-6': 26, '2012-7': 29, '2012-8': 4, '2012-9': 0, '2012-10': 6, '2012-11': 3, '2012-12': -10, '2013-1': 3, '2013-2': -4, '2013-3': 3, '2013-4': -3, '2013-5': 1, '2013-6': -6, '2013-7': -18, '2013-8': 17, '2013-9': -14, '2013-10': -9, '2013-11': -17, '2013-12': -19, '2014-1': 25, '2014-2': -19, '2014-3': 6, '2014-4': 0, '2014-5': -2, '2014-6': -11, '2014-7': 0, '2014-8': -4, '2014-9': 8, '2014-10': 11, '2014-11': -18, '2014-12': 11, '2015-1': -4, '2015-2': 8, '2015-3': 10, '2015-4': -4, '2015-5': -8, '2015-6': 5, '2015-7': -27, '2015-8': -28, '2015-9': 6, '2015-10': -5, '2015-11': 7, '2015-12': 23, '2016-1': -6, '2016-2': -14, '2016-3': -9, '2016-4': 5, '2016-5': 13, '2016-6': -2, '2016-7': -18, '2016-8': 15, '2016-9': 16, '2016-10': 4, '2016-11': -13, '2016-12': -7, '2017-1': -12, '2017-2': -9, '2017-3': 3, '2017-4': 8, '2017-5': 16, '2017-6': 12, '2017-7': 5, '2017-8': -1, '2017-9': -23, '2017-10': -6, '2017-11': 0, '2017-12': -9, '2018-1': 8, '2018-2': -5, '2018-3': -18, '2018-4': -9, '2018-5': 12, '2018-6': -51, '2018-7': 3, '2018-8': 15, '2018-9': -1, '2018-10': 27, '2018-11': 5, '2018-12': 13, '2019-1': 3, '2019-2': 0, '2019-3': 2, '2019-4': -1, '2019-5': -8, '2019-6': 8, '2019-7': 2, '2019-8': 3, '2019-9': -1, '2019-10': 21, '2019-11': 3, '2019-12': -1, '2020-1': -1, '2020-2': 22, '2020-3': 7, '2020-4': 16, '2020-5': 28, '2020-6': 31, '2020-7': -12, '2020-8': 0, '2020-9': -9, '2020-10': 19, '2020-11': 6, '2020-12': 0, '2021-1': -22, '2021-2': 18}
当月10日残：{'2010-3': -10, '2010-4': -3, '2010-5': 13, '2010-6': 3, '2010-7': 15, '2010-8': -15, '2010-9': -7, '2010-10': -15, '2010-11': -7, '2010-12': -17, '2011-1': 6, '2011-2': -1, '2011-3': 10, '2011-4': -4, '2011-5': -30, '2011-6': -30, '2011-7': -2, '2011-8': -17, '2011-9': 16, '2011-10': 10, '2011-11': 5, '2011-12': -6, '2012-1': 8, '2012-2': -7, '2012-3': 12, '2012-4': 7, '2012-5': -7, '2012-6': 15, '2012-7': 4, '2012-8': -4, '2012-9': -5, '2012-10': 34, '2012-11': 42, '2012-12': -2, '2013-1': -19, '2013-2': 0, '2013-3': 1, '2013-4': 26, '2013-5': 0, '2013-6': -7, '2013-7': -25, '2013-8': 14, '2013-9': -1, '2013-10': -32, '2013-11': 8, '2013-12': 8, '2014-1': -2, '2014-2': 5, '2014-3': -14, '2014-4': 5, '2014-5': -2, '2014-6': -18, '2014-7': 4, '2014-8': 20, '2014-9': 1, '2014-10': 26, '2014-11': 9, '2014-12': 14, '2015-1': -11, '2015-2': -9, '2015-3': -12, '2015-4': -42, '2015-5': 9, '2015-6': 29, '2015-7': -11, '2015-8': -10, '2015-9': -7, '2015-10': 9, '2015-11': 1, '2015-12': 5, '2016-1': 0, '2016-2': 0, '2016-3': 13, '2016-4': 34, '2016-5': 9, '2016-6': 0, '2016-7': 28, '2016-8': 1, '2016-9': -15, '2016-10': 21, '2016-11': -2, '2016-12': -26, '2017-1': 32, '2017-2': 27, '2017-3': 0, '2017-4': 18, '2017-5': -8, '2017-6': 25, '2017-7': -20, '2017-8': -17, '2017-9': 5, '2017-10': -6, '2017-11': 4, '2017-12': 8, '2018-1': 29, '2018-2': 32, '2018-3': 0, '2018-4': 23, '2018-5': 17, '2018-6': -20, '2018-7': 2, '2018-8': -4, '2018-9': -16, '2018-10': -32, '2018-11': -49, '2018-12': -18, '2019-1': -7, '2019-2': -13, '2019-3': -6, '2019-4': -1, '2019-5': -19, '2019-6': 10, '2019-7': 4, '2019-8': 0, '2019-9': 19, '2019-10': -12, '2019-11': 19, '2019-12': -19, '2020-1': -1, '2020-2': 14, '2020-3': 3, '2020-4': 27, '2020-5': -14, '2020-6': 5, '2020-7': -24, '2020-8': 8, '2020-9': 5, '2020-10': 6, '2020-11': -6, '2020-12': 3, '2021-1': -25, '2021-2': 0}
当月20日残：{'2010-3': 19, '2010-4': 4, '2010-5': -5, '2010-6': 22, '2010-7': -21, '2010-8': -21, '2010-9': 13, '2010-10': 6, '2010-11': 21, '2010-12': -30, '2011-1': -12, '2011-2': -11, '2011-3': -6, '2011-4': 7, '2011-5': 2, '2011-6': 19, '2011-7': 8, '2011-8': -12, '2011-9': -23, '2011-10': 1, '2011-11': 8, '2011-12': -4, '2012-1': -10, '2012-2': -8, '2012-3': 11, '2012-4': -22, '2012-5': -4, '2012-6': 7, '2012-7': 8, '2012-8': 28, '2012-9': -44, '2012-10': -18, '2012-11': -1, '2012-12': 6, '2013-1': 43, '2013-2': 16, '2013-3': 16, '2013-4': -2, '2013-5': -5, '2013-6': -7, '2013-7': 26, '2013-8': -16, '2013-9': 6, '2013-10': 0, '2013-11': 2, '2013-12': 0, '2014-1': -3, '2014-2': -4, '2014-3': 6, '2014-4': -17, '2014-5': -4, '2014-6': 13, '2014-7': -10, '2014-8': -11, '2014-9': -5, '2014-10': -3, '2014-11': -1, '2014-12': -4, '2015-1': 5, '2015-2': 10, '2015-3': -30, '2015-4': -9, '2015-5': 5, '2015-6': 3, '2015-7': 20, '2015-8': 8, '2015-9': -3, '2015-10': 15, '2015-11': 8, '2015-12': 0, '2016-1': 30, '2016-2': 19, '2016-3': 6, '2016-4': 6, '2016-5': 14, '2016-6': -11, '2016-7': -1, '2016-8': -2, '2016-9': 0, '2016-10': 12, '2016-11': 6, '2016-12': 11, '2017-1': 3, '2017-2': -16, '2017-3': -2, '2017-4': 15, '2017-5': 11, '2017-6': -4, '2017-7': 5, '2017-8': -4, '2017-9': -15, '2017-10': 18, '2017-11': 25, '2017-12': 22, '2018-1': -13, '2018-2': 3, '2018-3': -1, '2018-4': -22, '2018-5': 46, '2018-6': -25, '2018-7': -3, '2018-8': -18, '2018-9': -12, '2018-10': 19, '2018-11': 7, '2018-12': -2, '2019-1': 0, '2019-2': 0, '2019-3': -11, '2019-4': 2, '2019-5': 11, '2019-6': 4, '2019-7': 3, '2019-8': 11, '2019-9': -3, '2019-10': -5, '2019-11': -4, '2019-12': 10, '2020-1': 6, '2020-2': 15, '2020-3': 29, '2020-4': 5, '2020-5': 1, '2020-6': -8, '2020-7': -19, '2020-8': 34, '2020-9': 10, '2020-10': -13, '2020-11': -16, '2020-12': 32, '2021-1': -25, '2021-2': 0}
　当月入庫：{'2010-3': 65, '2010-4': 79, '2010-5': 121, '2010-6': 92, '2010-7': 106, '2010-8': 101, '2010-9': 119, '2010-10': 123, '2010-11': 173, '2010-12': 66, '2011-1': 84, '2011-2': 103, '2011-3': 50, '2011-4': 91, '2011-5': 31, '2011-6': 99, '2011-7': 119, '2011-8': 103, '2011-9': 127, '2011-10': 105, '2011-11': 52, '2011-12': 105, '2012-1': 81, '2012-2': 109, '2012-3': 77, '2012-4': 105, '2012-5': 29, '2012-6': 101, '2012-7': 150, '2012-8': 89, '2012-9': 81, '2012-10': 88, '2012-11': 138, '2012-12': 102, '2013-1': 127, '2013-2': 64, '2013-3': 104, '2013-4': 76, '2013-5': 115, '2013-6': 60, '2013-7': 95, '2013-8': 113, '2013-9': 146, '2013-10': 78, '2013-11': 124, '2013-12': 49, '2014-1': 70, '2014-2': 46, '2014-3': 99, '2014-4': 92, '2014-5': 122, '2014-6': 65, '2014-7': 82, '2014-8': 87, '2014-9': 96, '2014-10': 115, '2014-11': 66, '2014-12': 81, '2015-1': 114, '2015-2': 80, '2015-3': 112, '2015-4': 77, '2015-5': 85, '2015-6': 90, '2015-7': 96, '2015-8': 104, '2015-9': 65, '2015-10': 128, '2015-11': 72, '2015-12': 77, '2016-1': 108, '2016-2': 74, '2016-3': 155, '2016-4': 122, '2016-5': 76, '2016-6': 49, '2016-7': 148, '2016-8': 74, '2016-9': 57, '2016-10': 112, '2016-11': 119, '2016-12': 111, '2017-1': 157, '2017-2': 105, '2017-3': 28, '2017-4': 99, '2017-5': 92, '2017-6': 107, '2017-7': 74, '2017-8': 37, '2017-9': 66, '2017-10': 94, '2017-11': 50, '2017-12': 120, '2018-1': 66, '2018-2': 77, '2018-3': 72, '2018-4': 101, '2018-5': 171, '2018-6': 46, '2018-7': 64, '2018-8': 44, '2018-9': 37, '2018-10': 96, '2018-11': 77, '2018-12': 139, '2019-1': 80, '2019-2': 36, '2019-3': 98, '2019-4': 102, '2019-5': 101, '2019-6': 107, '2019-7': 85, '2019-8': 72, '2019-9': 63, '2019-10': 63, '2019-11': 68, '2019-12': 88, '2020-1': 122, '2020-2': 138, '2020-3': 131, '2020-4': 87, '2020-5': 115, '2020-6': 113, '2020-7': 46, '2020-8': 103, '2020-9': 128, '2020-10': 103, '2020-11': 74, '2020-12': 55, '2021-1': 56, '2021-2': 37}

In [6]:
# 増減表の作成
keys = list(last_stocks_dict.keys())
last_stocks_list = list(last_stocks_dict.values())
ten_stocks_list = list(ten_stocks_dict.values())
twenty_stocks_list = list(twenty_stocks_dict.values())
stocks_on_the_day_list = list(stocks_on_the_day_dict.values())

storage_fee_dict = {
    "year-month": keys,
    "last_stocks": last_stocks_list,
    "ten_stocks": ten_stocks_list,
    "twenty_stocks": twenty_stocks_list,
    "stocks_on_the_day": stocks_on_the_day_list
}
storage_fee_db = pd.DataFrame(storage_fee_dict)

storage_fee_db

    year-month  last_stocks  ten_stocks  twenty_stocks  stocks_on_the_day
0       2010-3          -26         -10             19                 65
1       2010-4          -15          -3              4                 79
2       2010-5           -8          13             -5                121
3       2010-6           29           3             22                 92
4       2010-7           29          15            -21                106
..         ...          ...         ...            ...                ...
127    2020-10           19           6            -13                103
128    2020-11            6          -6            -16                 74
129    2020-12            0           3             32                 55
130     2021-1          -22         -25            -25                 56
131     2021-2           18           0              0                 37

[132 rows x 5 columns]

In [7]:
stocks = FIRST_STOCKS
for year_month in keys:
    last_stocks_dict[year_month] += stocks
    stocks = last_stocks_dict[year_month]
    ten_stocks_dict[year_month] += stocks
    stocks = ten_stocks_dict[year_month]
    twenty_stocks_dict[year_month] += stocks
    stocks = twenty_stocks_dict[year_month]


last_stocks_list = list(last_stocks_dict.values())
ten_stocks_list = list(ten_stocks_dict.values())
twenty_stocks_list = list(twenty_stocks_dict.values())
stocks_on_the_day_list = list(stocks_on_the_day_dict.values())

storage_fee_dict = {
    "year-month": keys,
    "last_stocks": last_stocks_list,
    "ten_stocks": ten_stocks_list,
    "twenty_stocks": twenty_stocks_list,
    "stocks_on_the_day": stocks_on_the_day_list
}
storage_fee_db = pd.DataFrame(storage_fee_dict)

# 積数
storage_fee_db["sekisu"] = storage_fee_db["last_stocks"] + storage_fee_db["ten_stocks"] + storage_fee_db["twenty_stocks"] + storage_fee_db["stocks_on_the_day"]
print("積数の合計：", storage_fee_db["sekisu"].sum())
storage_fee_db

積数の合計： 384980

,year-month,last_stocks,ten_stocks,twenty_stocks,stocks_on_the_day,sekisu
0,2010-3,974,964,983,65,2986
1,2010-4,968,965,969,79,2981
2,2010-5,961,974,969,121,3025
3,2010-6,998,1001,1023,92,3114
4,2010-7,1052,1067,1046,106,3271
...,...,...,...,...,...,...
127,2020-10,1231,1237,1224,103,3795
128,2020-11,1230,1224,1208,74,3736
129,2020-12,1208,1211,1243,55,3717
130,2021-1,1221,1196,1171,56,3644
131,2021-2,1189,1189,1189,37,3604

In [8]:
print(db.warehousing.sum(), db.shipping.sum(), db.warehousing.sum()-db.shipping.sum())

12031 11842 189